// ParablesTable.styles.js

const parablesTableStyles = {
  parablesTableMain: {
    height: "80vh",
    padding: "0 10rem",
  },
  parablesTableContainer: {
    margin: "20px",
    marginTop: "10rem",
    padding: "0 10rem",
  },
  parablesTable: {
    width: "100%",
    borderCollapse: "collapse",
    height: "10rem",
    backgroundImage: "linear-gradient(rgb(23, 29, 82), rgb(0, 0, 0))",
    boxShadow: "0 1rem 4rem 1px black",
  },
  tableHeaderCell: {
    border: "1px solid #ddd",
    padding: "1rem",
    textAlign: "left",
    color: "#ddd",
    backgroundColor: "rgba(48, 48, 48, 0.726)",
  },
  tableBodyCell: {
    border: "1px solid #ddd",
    padding: "1rem",
    textAlign: "left",
    color: "#ddd",
  },
};

export default parablesTableStyles;
